@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "UserProductPage";
    Layout = "~/Views/Shared/_LogedInUser.cshtml";

    //int get_session_id = (int)Context.Session.GetInt32("SessionId");
    string get_session_id = Context.Session.Id;

    // use a flag to indicate whether or not the user is logged in
    bool same_session = get_session_id.Equals(6);
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>products</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>

                    <tbody id="product-table">

                    </tbody>

                </table>
            </div>
        </div>

        <div class="second-div">
            <div class="get-div">
                <h2>All Comments</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>User</th>
                        <th>Product</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>

                    <tbody id="all-comments-table">

                    </tbody>

                </table>
            </div>
        </div>

        <div class="first-div">
            <div class="get-div">
                <h2 id="user-heading">user Comments</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Product</th>
                        <th>Commnet</th>
                        <th>Date</th>
                    </tr>

                    <tbody id="user-comments-table">

                    </tbody>

                </table>

                    <select id="product-drop-down-box">

                    </select>
                <input id="user-email" readonly="readonly" />
                    <input id="comment-text" placeholder="enter your comment.."/>
                    <input id="created-date" placeholder="enter the date.."/>
                    <br />
                    <button id="add-comment">Add</button>
                    <button id="update-comment">Update</button>
            </div>
        </div>
    </section>

    <script>

            var userEmailBox = $("#user-email")
            var emailBox = sessionStorage.getItem("emailBox")

            userEmailBox.val(emailBox)

            var userEmailVal = $("#user-email").val()

            var header = document.getElementById('user-heading')
            var heading = `<h2>${userEmailVal} Comments<h2/>`

            header.innerHTML = heading

            var productArray = []
            var productNameArray = []
            var commentArray = []

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProducts", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productArray = response
                    buildProductTabel(productArray)
                    console.log(productArray)
                }
            })

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetSessionId", "LogedInUser")",
                dataType: "JSON",
                success: function (response) {
                    console.log(productArray)
                }
            })

            /*
                Builds a table that displays all products,
                and if a new product is created the table
                will generate a new row
            */

            function buildProductTabel(data) {
                var table = document.getElementById('product-table')

                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`

                    var row = `<tr>
                                   <td>${data[i].product_id}</td>
                                   <td>${data[i].product_name}</td>
                                   <td>${data[i].product_price}$</td>
                                   <td>${data[i].product_description}</td>
                               </tr>`

                    table.innerHTML += row
                }
            }

            /*
                Builds a table that displays all comments,
                and if a new product is created the table
                will generate a new row
            */

            function buildAllCommentsTabel(data) {
                var table = document.getElementById('all-comments-table')

                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`

                    var row = `<tr>
                                   <td>${data[i].comment_id}</td>
                                   <td>${data[i].email}</td>
                                   <td>${data[i].product_name}</td>
                                   <td>${data[i].comment_text}</td>
                                   <td>${data[i].created_date}</td>
                               </tr>`

                               // Need to set the fk_product_id to product_name via drop-down box

                    table.innerHTML += row
                }
            }

            /*
                Builds a table that displays all comments,
                and if a new product is created the table
                will generate a new row
            */

            function buildUserCommentsTabel(data) {
                var table = document.getElementById('user-comments-table')

                for (var i = 0; i < data.length; i++) {
                var buttons = `<button>delete</button>`

                    var row = `<tr>
                                   <td>${data[i].comment_id}</td>
                                   <td>${data[i].comment_text}</td>
                                   <td>${data[i].created_date}</td>
                                   <td>${data[i].email}</td>
                                   <td>${data[i].product_name}</td>
                                   <td class="td-button">${buttons}</td>
                               </tr>`

                    table.innerHTML += row
                }
            }

            /*
                Gets all prodcuts via an ajax GET request
                linked to the product controller
            */

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProductName", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productNameArray = response
                    buildUserCommentsDropDownBox(productNameArray)
                    console.log(productNameArray)
                }
            })

            /*
                Creates a drop down box for the gpu field only 
            */

            function buildUserCommentsDropDownBox(data) {
                var table = document.getElementById('product-drop-down-box')

                for (var i = 0; i < data.length; i++) {

                    var row = `<option>${data[i].product_name}</option>`

                    table.innerHTML += row
                }
            }

            /*
                Gets all users via an ajax GET request
                linked to the comment controller
            */

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetComments", "Comment")",
                dataType: "JSON",
                success: function (response) {
                    commentArray = response
                    buildAllCommentsTabel(commentArray)
                    console.log(commentArray)
                }
            })

            /*
                Gets all users via an ajax Post request
                linked to the comment controller
            */

            $("#add-comment").click(function (event) {
                    $.ajax({
                    type: "POST",
                    url: "@Url.Action("PostComments", "Comment")",
                    dataType: "JSON",
                    success: function (response) {
                        commentArray = response
                        buildUserCommentsTabel(commentArray)
                        console.log(commentArray)
                    }
                })
            })
    </script>
</body>