@using Microsoft.AspNetCore.Http;


@{
    ViewData["Title"] = "UserProductPage";
    Layout = "~/Views/Shared/_LogedInUser.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/products.css"/>
</head>

<body>
    <section>
        <div class="first-div">
            <div class="get-div">
                <h2>products</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>

                    <tbody id="product-table">

                    </tbody>

                </table>
            </div>
        </div>

        <div class="second-div">
            <div class="get-div">
                <h2>All Comments</h2>
                <table>
                    <tr id="table-info">
                        <th>Id</th>
                        <th>User</th>
                        <th>Product</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>

                    <tbody id="all-comments-table">

                    </tbody>

                </table>
            </div>
        </div>

        <div class="first-div">
            <div class="get-div">
                <h2 id="user-heading">user Comments</h2>
                <table id="refresh">
                    <tr id="table-info">
                        <th>Id</th>
                        <th>User</th>
                        <th>Product</th>
                        <th>Commnet</th>
                        <th>Date</th>
                    </tr>

                    <tbody id="user-comments-table">

                    </tbody>

                </table>

                    <select id="product-drop-down-box">

                    </select>

                    <input id="comment-text" placeholder="enter your comment.."/>
                    <input readonly="readonly" id="comment-id" />
                    <br />
                    <button id="add-comment">Add</button>
            </div>
        </div>
    </section>

    <script>
            var userEmailBox = $("#user-email")
            var emailBox = sessionStorage.getItem("emailBox")
            var seshId = sessionStorage.getItem("data")
            var productSelect = document.getElementById("product-drop-down-box")

            userEmailBox.val(emailBox)

            var userEmailVal = $("#user-email").val()
            var header = document.getElementById('user-heading')
            var input = document.getElementById('session-id')
            var commentId = $("#comment-id")
            var heading = `<h2>${emailBox} Comments<h2/>`

            header.innerHTML = heading

            var productArray = []
            var productNameArray = []
            var commentArray = []
            var emailParam = "&email="
            var fkProductId = "product="
            var commentParam = "&comment_text="
            var createdDate = "&created_date="
            var sessionIdParam = "&session_id="
            var commentTextBox = $("#comment-text")
            var createdDateBox = $("#created-date")

            ////////////////////////// Start of AJAX request ////////////////////////////
            /*
                Gets all prodcut name via an ajax GET request
                linked to the product controller ->
            */
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProductName", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productNameArray = response
                    buildUserCommentsDropDownBox(productNameArray)
                    console.log(productNameArray)
                }
            })

            /*
                Gets all prodcuts via an ajax GET request
                linked to the product controller ->
            */
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetProducts", "Product")",
                dataType: "JSON",
                success: function (response) {
                    productArray = response
                    buildProductTabel(productArray)
                    console.log(productArray)
                }
            })

            /*
                Gets current users via an ajax GET request
                linked to the comment controller ->
            */
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetUserComments", "Comment")" + "?" + "email=" + emailBox,
                dataType: "JSON",
                success: function (response) {
                    commentArray = response
                    buildUserCommentsTabel(commentArray)
                    console.log(commentArray)
                }
            })

            /*
                Gets all users via an ajax GET request
                linked to the comment controller ->
            */
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetComments", "Comment")",
                dataType: "JSON",
                success: function (response) {
                    commentArray = response
                    buildAllCommentsTabel(commentArray)
                    console.log(commentArray)
                }
            })

            /*
                Post comment via an ajax GET request
                linked to the comment controller ->
            */
            $("#add-comment").click(function (event) {

                $.ajax({
                type: "POST",
                url: "@Url.Action("PostComments", "Comment")" + "?" + fkProductId +
                                                                          productSelect.options[productSelect.selectedIndex].text +
                                                                          emailParam + 
                                                                          emailBox + 
                                                                          commentParam + 
                                                                          commentTextBox.val() +
                                                                          sessionIdParam + 
                                                                          seshId,
                    dataType: "JSON",
                    success: function (response) {
                        buildUserCommentsTabel(commentArray)
                        console.log(commentArray)
                    }
                })

                location.reload()
            })

            ////////////////////////// End of AJAX request ////////////////////////////


            ////////////////////////// Start of Table builder methods ////////////////////////////
            /*
                Builds a table that displays all products,
                and if a new product is created the table
                will generate a new row ->
            */
            function buildProductTabel(data) {
                var table = document.getElementById('product-table')

                for (var i = 0; i < data.length; i++) {

                    var row = `<tr>
                                   <td>${data[i].product_id}</td>
                                   <td>${data[i].product_name}</td>
                                   <td>${data[i].product_price}$</td>
                                   <td>${data[i].product_description}</td>
                               </tr>`
                    table.innerHTML += row
                }
            }

            /*
                Builds a table that displays all comments,
                and if a new product is created the table
                will generate a new row ->
            */
            function buildAllCommentsTabel(data) {
                var table = document.getElementById('all-comments-table')

                for (var i = 0; i < data.length; i++) {
                    
                    var row = `<tr>
                                   <td>${data[i].comment_id}</td>
                                   <td>${data[i].email}</td>
                                   <td>${data[i].product}</td>
                                   <td>${data[i].comment_text}</td>
                                   <td>${data[i].created_date}</td>
                               </tr>`
                    table.innerHTML += row // Need to set the fk_product_id to product_name via drop-down box
                }
            }

            /*
                Builds a table that displays all comments,
                and if a new product is created the table
                will generate a new row ->
            */
            function buildUserCommentsTabel(data) {
                var table = document.getElementById('user-comments-table')

                for (var i = 0; i < data.length; i++) {

                    if (seshId === data[i].session_id){

                        var deleteButton = `<button>delete</button>`
                        var updateButton = `<button>update</button>`
                    }
                    else {
                        var deleteButton = ``
                        var updateButton = ``
                    }

                    var row = `<tr>
                                   <td class="w" id="data-id">${data[i].comment_id}</td>
                                   <td>${data[i].email}</td>
                                   <td>${data[i].product}</td>
                                   <td>${data[i].comment_text}</td>
                                   <td>${data[i].created_date}</td>
                                   <td class="td-button-update" id="update-button">${updateButton}</td>
                                   <td class="td-button" id="delete-button">${deleteButton}</td>
                               </tr>`

                    table.innerHTML += row

                    var cells = table.getElementsByClassName('w')
                    var tdUpdate = table.getElementsByClassName('td-button-update')
                    var tdDelete = table.getElementsByClassName('td-button')

                    $(tdUpdate).click(function (event){
                        /*
                            Update current user comment via an ajax PUT request
                            linked to the comment controller ->
                        */
                        $.ajax({
                            type: "PUT",
                            url: "@Url.Action("PutUserComment", "Comment")" + "?" + 
                                                                            "comment_id=" 
                                                                            + commentId.val() 
                                                                            + "&comment_text=" 
                                                                            + commentTextBox.val(),
                            dataType: "JSON",
                            success: function (response) {
                                console.log(response)
                            }
                        })

                        location.reload()
                    })

                    $(tdDelete).click(function (event) {
                        /*
                            Deletes current user comment via an ajax DELETE request
                            linked to the comment controller ->
                        */
                        $.ajax({
                            type: "DELETE",
                            url: "@Url.Action("DeleteUserComment", "Comment")" + "?" +
                                                                               "comment_id="
                                                                               + commentId.val(),
                            dataType: "JSON",
                            success: function (response) {
                                console.log(response)
                            }
                        })

                        location.reload()
                    })

                    for (var i = 0, len = cells.length; i < len; i++) {
                        cells[i].onclick = function () {
                            $("#comment-id").val(this.innerHTML)
                        };
                    }
                }
            }

            /*
                Creates a drop down box for the gpu field only ->
            */
            function buildUserCommentsDropDownBox(data) {
                var table = document.getElementById('product-drop-down-box')

                for (var i = 0; i < data.length; i++) {

                    var row = `<option>${data[i].product_name}</option>`

                    table.innerHTML += row
                }
            }
            ////////////////////////// End of table builder methods ////////////////////////////
    </script>
</body>