@{
    ViewData["Title"] = "LoginPage";
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>

<body>
    <section>
        <div class="first-div">
            <div class="login-div">
                <h2>email</h2>
                <input type="email" placeholder="email.." id="email-input" />

                <h2>password</h2>
                <input type="password" placeholder="password.." id="password-input" />
                <br />
                <button id="login-button">Login</button>
                <br />
                <a href="@Url.Action("SignUpPage", "Home")" class="sign-up">Sign up?</a>
                <h4 id="login-error2">Incorect Login Details</h4>
                <h4 id="login-error">Please fill in the fields above</h4>
            </div>
        </div>

        <div class="first-div">
            <div class="login-div">
                <h2>Do not click unless your special</h2>
                <a href="@Url.Action("AdminLoginPage", "Home")" class="admin-login">Super secret admin login shhh!</a>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function loginInput() {
            $("#login-button").click(function (event) {

                var email = $("#email-input")
                var emailInput = $('#email-input').val()
                var passwordInput = $('#password-input').val()
                var emailInputClear = $('#email-input').val("");
                var passwordInputClear = $('#password-input').val("");
                var loginError = $("#login-error")
                var loginError2 = $("#login-error2")
                var passwordParam = "&Password="
                var emailParam = "Email=" + emailInput + passwordParam + passwordInput;
                var goToUrl = "@Url.Action("AccountPage", "LogedInUser")";
                var loginValid = "LOGIN VALID";
                var loginInvalid = "LOGIN INVALID";
                var emailLoginInput = sessionStorage.getItem("emailBoxInput")
                var updateButton = sessionStorage.getItem("updateButton")

                /*
                    when the login button is clicked an ajax GET request is activated
                    that will authenticate the detials entered, if the details match then the user will be brought to the
                    user account page.
                */

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("AuthenticateLogin", "User")" + "?" + emailParam,
                    dataType: "JSON",
                    data: Request,
                    success: function (data) {

                        if (data == loginValid) {
                            console.log(data)
                            loginError2.hide()
                            loginError.hide()
                            emailInputClear
                            passwordInputClear
                            sessionStorage.setItem("emailInput", emailInput)
                            sessionStorage.setItem("passwordInput", passwordInput)
                            email.val()
                            /*
                            Gets the session id via an ajax GET request
                            linked to the user controller ->
                            */
                            $.ajax({
                                type: "GET",
                                url: "@Url.Action("GetSessionId", "User")",
                                success: function (data) {
                                    sessionStorage.setItem("session_id", data)
                                    console.log(data)
                                }
                            })
                            window.location.href = goToUrl
                        }
                        if (passwordInput | emailInput == "") {
                            loginError.show()
                            loginError2.hide()
                        }

                        else if (data == loginInvalid) {
                            loginError2.show()
                            loginError.hide()
                            emailInputClear
                            passwordInputClear
                        }
                    }
                })
            })
        })
    </script>
</body>